<div class="row">
<!--
  <my-info ng-show="myInfoCtrl.saved"
    firstname="myInfoCtrl.user.firstname"
    lastname = "myInfoCtrl.user.lastname"
    email = "myInfoCtrl.user.email"
    phone = "myInfoCtrl.user.phone"
    favedish = "myInfoCtrl.menuItem"></my-info> -->

    <div class="col-xs-12" ng-if="!myInfoCtrl.user">

   <h3 class="text-center">Not signed up yet.</h3>
   <p class="text-center"><a ui-sref="public.signup">Sign up now!</a></p>
 </div>

    <div class="col-xs-12"  ng-if="myInfoCtrl.user" >
        <h3>My Info</h3>
        <p>Firstname: {{myInfoCtrl.user.firstname}}</p>
        <p>Last name:{{myInfoCtrl.user.lastname}}</p>
        <p>Email: {{myInfoCtrl.user.email}}</p>
        <p>Phone: {{myInfoCtrl.user.phone}}</p>
        <p>Favorite Menu Item: {{myInfoCtrl.user.menuItemTitle}}</p>
        <img height="100" width="300"
       ng-src="https://momekala-restaurant.herokuapp.com/images/{{myInfoCtrl.user.favmenuitem}}.jpg"
       alt="myInfoCtrl.favmenuitem">
       <p>{{myInfoCtrl.user.menuItemDescription}}</p>
     </div>
</div>
